header.first{
    border: 1px solid;
    width: 100%;
    height: 40vh;
    background-image: url(./image/4444444444.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 45px;
}
section.two{
    text-align: center;
}
div.tree{
    border: 2px solid;
    text-align: left;
    width: 17%;
    height: 17%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
div.four{
     border: 2px solid;
    text-align: center;
   width: 320px;
   padding: 20px;
   margin: 10px;
}
div.five{
    border: 2px solid;
     width: 320px;
   padding: 20px;
   margin: 10px;
   text-align: center;
}
div.sixsen{
    border: 2px solid;
      margin: 50px auto;
      align-items: center;
       margin-bottom: 16px;
       background-color: aqua;
}
footer.seven{
    border: 1px solid;
    text-align: center;
    background-color: rgba(28, 1, 1, 0.146);
}

        